* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkblue;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links {
    list-style: none;
}

.nav__links {
    list-style: none;
}



button {
    /*clip-path: polygon(0px 40px, 100% -40px, 100% 100%, 0px 100%);*/
    /* Other styling properties */
    padding: 10px 40px;
    border-top-left-radius: 50px ;
    background-color: darkorange;
    color: white;
    border: none;
    text-align: left;
    /*text-indent: 10px;*/
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    filter: drop-shadow(-10px 10px 0px black);


}

button:hover{
    background-color: black;
}
