// contactPage
$white: #DFDFDF;
$black: #181818;
$primary: #ee8c3f;
$secondary: #3385d7;

#contactContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // text-align: center;
    font-size: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // font-weight: 800;
    // background-image: url(../images/Rewindedness\ Logo.svg);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: 500px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1% 0 0 0;
    }

    label, input {
        display: block;
    }

    label {
        width: 80%;
        margin: 0 0 2% 0;
    }

    input {
        width: 80%;
        font-size: 18px;
        margin: 0 0 4% 0;
        // padding: 8px;
    }

    textarea {
        width: 80%;
        resize: none;
        font-size: 32px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    // #message {
    //     padding: 20% 0;
    // }

    input, button {
        font-size: 32px;
    }

    button {
        cursor: pointer;
        margin: 5% 0 0 0;
        padding: 2% 5%;
        font-size: 28px;
        font-weight: bold;
        color: $white;
        background-color: $primary;
        border: none;
        // box-shadow: 5px 5px $secondary;
        text-shadow: 1.5px 1.5px 0 $black;
        transition: 0.8s;
        box-shadow: -4px -4px 0 $secondary, 4px 4px 0 $secondary, -8px -8px 0 $black, 8px 8px 0 $black;
    }

    button:hover {
        box-shadow: -4px -4px 0 $black, 4px 4px 0 $black;
    }

    img {
        width: 35%;
        display: none;
    }
}