// homePage
$white: #DFDFDF;
$black: #181818;
$primary: #ee8c3f;
$secondary: #3385d7;

#homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;

    h1 {
        color: #1d1f21;
        font-size: 94px;
        margin: 2%;
    }

    a {
        color: $white;
        font-size: 64px;
        padding: 15px;
        text-shadow: 2px 2px 0 $black;
        box-shadow: -4px -4px 0 $secondary, 4px 4px 0 $secondary, -12px -12px 0 $black, 12px 12px 0 $black;
        transition: 0.8s;
        background-color: $primary;
    }

    a:hover {
        box-shadow: -6px -6px 0 $black, 6px 6px 0 $black;
    }

    #promoVideo {
        margin: 2%;
        width: 95%;
        height: 95%;
    }

    p {
        width: 90%;
        color: $white;
        font-size: 48px;
        font-weight: bold;
        padding: 25px;
        border: 8px solid $secondary;
        background-color: #252525;
    }

    video {
        min-width: 95%; 
        min-height: 95%; 
        width: auto;
        height: auto;
        border: 8px solid $black;
    }
}