// rewindsPage
$white: #DFDFDF;
$black: #1d1f21;
// $black: #181818;
$primary: #ee8c3f;
$secondary: #3385d7;

main {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    // align-items: center;
}

#rewindsContent {
    width: 75%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // background-color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

#scroll {
    width: 100%;
    z-index: 2;
    position: absolute;
    margin: 1% 2% 0 0;
    display: flex;
    justify-content: flex-end;
    // background-color: purple;

    img {
        width: 4rem;
    }
}

#topButton {
    position: fixed;
    cursor: pointer;
    background-color: transparent;
    border: none;
    // margin: 0 -32px 0 0;
}

#hook img {
    width: 70%;
    margin: 7% 0 5% 0;
    // border: 6px solid $black;
    // box-shadow: 8px 8px $primary;
    box-shadow:  -6px -6px 0 $secondary, 6px 6px 0 $secondary, -14px -14px 0 $black, 14px 14px 0 $black;
}

#rewinds {
    // width: 100%;
    // flex-direction: column;
    // align-items: center;

    ul {
        // margin: auto;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
        // background-color: purple;

        li {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 4% 0;
            // background-color: orange;

            img {
                border: 6px solid $black;
                box-shadow: -8px 8px $black;
            }
        }
    }
}

.rewindInfo {
    // width: 40%;
    // width: 35%;
    width: 30%;
    // padding: 0 2%;
    padding: 0 5%;
    // margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: $primary;
    // border: 6px solid $black;

    a {
        display: block;
        margin: 0 0 10% 0;
        color: $black;
        font-size: 48px;
        // text-shadow: 1px 1px 0 $black;
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
    }

    h3 {
        color: $black;
        font-size: 36px;
    }
}

.movingElement {
    width: 15%;
    position: sticky;
    top: 0%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // opacity: 0.5;
    // animation: moveDown 10s ease forwards;
}

// @keyframes moveDown {
//     from {
//         top: 50%;
//         opacity: 0.5;
//     }
//     to {
//         top: 100%; // Adjust the final position as needed
//         opacity: 1;
//     }
// }